@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

:root {
    --background-color: #e4fdff;
    --main-color: #394b3d;
    --title-color: #c9d6e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body {
    background-color: black;
    color: #ffff;
    margin: 0;
    font-family: 'Shantell Sans', cursive;
    box-sizing: border-box;
}

.hidden {
    display: block;
}

header {
    background: url("images/20181015_121430.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 20px;
    position: relative;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 20px 20px;
    /* min-width: 1200px;
    max-height: 200px; */
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
}


/* .logo {
        display: block;
        padding: 20px;
        position: absolute;

        
        top: 11%;
        left: 6%;
        /* z-index: 1; */

main {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.main-links {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    /* border: 1px solid red; */
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 0;
    background-color: var(--main-color);
    text-decoration: none;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

h2 {
    margin-bottom: 50px;
}

.main-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 300px;
    /* grid-template-rows: min-content auto; */
    /* grid-template-rows: 150px 250px 300px; */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: min-content auto 1fr;
    grid-gap: 10px;
    grid-template-areas: 'text image' 'item3 item4' 'item5 item6';
}

.grid__item-1 {
    display: flex;
    grid-area: text;
    padding: 10px;
    font-size: 25px;
}

.grid__item-2 {
    background-image: url(/images/lower\ lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: image;
    min-width: none;
    min-height: 200px;
    /* grid-column: 1/3; */
}

.grid__item-3 {
    background-image: url(/images/middle\ lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: item3;
    min-width: none;
    min-height: 200px;
}

.grid__item-4 {
    grid-area: item4;
    font-size: 25px;
    padding: 10px;
}

.grid__item-5 {
    grid-area: item5;
    padding: 10px;
    font-size: 25px;
}

.grid__item-6 {
    background-image: url(/images/upper\ lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: item6;
    min-width: none;
    min-height: 200px;
}

@media (max-width:546px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* grid-template-rows: min-content auto; */
        grid-template-areas: 'text' 'image' 'item4' 'item3' 'item5' 'item6';
        /* text image' ' item3 item4' ' item5 item6' */
    }
}


/* @media (max-width: 650px) {
    .drop-down__title h1 {
        font-size: 8px;
    }

    h2 {
        font-size: 60px;
        margin-bottom: 10px;
    }

}

.main-title {
   
    margin-top: 0;
    padding-top: 30px;
    font-size: 55px;
    text-align: center;
} */


/* 

*/


/* .item-1:hover {
    background-color: #5c83ad;
    transition: 1s;
}

.item-2:hover {
    background-color: #5c83ad;
    transition: 1s;
}

.item-3:hover {
    background-color: #5c83ad;
    transition: 1s;
} */

.nav-links {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 300px;
    position: relative;
}


/* Drop menu */

footer {
    /* background-image: url('images/middle lake.jpg'); */
    background-color: #79b1e7;
    margin: 0;
}

.footer-text {
    /* padding: 20px; */
    margin: 0;
}

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-color)
}

.address a {
    text-decoration: none;
    color: #ffff;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    /* margin-bottom: 30px; */
}

.footer-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
}

.footer-nav ul li {
    padding: 6px;
}

.footer-nav a {
    color: var(--main-color);
    text-decoration: none;
}


/*  Title */

.drop-down__menu {
    display: flex;
    background-color: #394b3d;
    align-items: center;
}

.drop-down__menu a {
    text-decoration: none;
    list-style: none;
}

.drop-down__menu li {
    list-style: none;
    text-decoration: none;
}

.drop-down__title h1 {
    /* max-height: 40px; */
    background-color: #394b3d;
    padding: 15px 18px;
    font-size: 25px;
    /* border-radius: 5px; */
    text-align: center;
    border-right: 1px solid #ffff;
    cursor: pointer;
    transition: all 1s;
}

.block-5 .drop-down__title h1 {
    border-right: none;
}

.drop-down__title h1:hover {
    background-color: #587e61;
}

.show {
    display: block;
}

.drop-down-submenu li {
    background-color: #5c83ad;
    border-bottom: 1px solid #ffff;
    padding: 10px 15px;
    transition: all 1s;
}

.drop-down-submenu li:hover {
    background-color: #9cb1b3;
}

.drop-down-submenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down-submenu li {
    width: 100%;
    padding: 8px;
    text-align: center;
    /* border-right: 1px solid #ffff; */
}

.woodburn__text {
    color: #51b7ff;
}

.block {
    position: relative;
}

.drop-down-submenu {
    display: none;
    position: absolute;
    top: 71px;
    left: 0;
}

.drop-down-submenu {
    color: #ffff;
    width: 100%;
}

.drop-down-submenu a {
    font-size: 22px;
    color: #ffff;
}


/* media querys */

@media (max-width: 1228px) {
    .drop-down__title h1 {
        font-size: 25px;
    }
}

@media (max-width: 1070px) {
    .drop-down__title h1 {
        font-size: 23px;
    }
}

@media (max-width: 1025px) {
    .drop-down__title h1 {
        font-size: 21px;
    }
}

@media (max-width: 940px) {
    .drop-down__title h1 {
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .drop-down__title h1 {
        font-size: 11px;
    }
}

@media (max-width: 530px) {
    h2 {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    /* burger */
}

@media (max-width: 580px) {
    .drop-down-submenu a {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 15px;
    }
}

@media (max-width:620px) {
    .drop-down__menu {
        /* display: none; */
    }

    .btn__burger {
        display: flex;
    }
}

.burger__list {
    /* display: none;
        opacity: 1;
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 4fr;
        /* border: 1px solid red; */
    /* min-width: 300px;
            min-height: 200px; */
    transition: all 1s;
}

.burger__list {
    display: none;
}

.burger__list ul {
    background-color: green;
}

.burger__list li {
    padding: 10px 0;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}

.burger__list li:hover {
    background-color: grey;
}

.burger__list li:active {
    background-color: red;
}

.burger__list li a {
    color: #ffff;
}


/* burger btn */

.btn__burger-dropList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* gap: 10px; */
    /* background-color: #004d40; */
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: all 1s;
    position: absolute;
    top: 119px;
    left: 50%;
    transform: translateX(-50%);
}

.btn__burger-list-item {
    width: 100%;
    background-color: #c4d0d6;
    padding: 8px 8px;
    /* border-bottom: 1px solid red; */
    border-radius: 10px;
    margin-bottom: 5px;
}

.btn__burger-list-item:hover {
    background-color: #394b3d;
}

.btn__burger-list-item a {
    color: #42668e;
}

.btn__burger-list-item a:hover {
    color: #ffff;
}

.active {
    display: none;
}

.btn__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    height: 22px;
    width: 30px;
    position: absolute;
    top: 155px;
    right: 87px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}

.btn__burger span {
    width: 100%;
    height: 2px;
    background-color: #ffff;
}

@media (max-width:625px) {
    .btn__burger {
        display: flex;
        border: none;
        position: absolute;
        top: 73px;
        left: 50%;
        transform: translateX(-50%);
    }

    .drop-down__menu {
        display: none;
    }

    .logo {
        position: absolute;
        bottom: 45%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
}

@media(min-width: 625px) {
    .btn__burger-dropList {
        display: none;
    }
}


/* weather app */

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    padding: 10px;
}


/* 
@media only screen and (max-width: 768px) {
    .container1 {
        width: 100%;
        max-width: 350px;
        position: static;
        transform: none;
    }
} */

.wheather__app {
    color: #fff;
    background: rgb(0, 210, 255);
    background: linear-gradient(90deg, rgba(126, 182, 247, 0.877) 0%, rgb(57, 75, 61) 100%);
    /* background: linear-gradient(90deg, rgba(0, 210, 255, 0.8765858208955224) 0%, rgba(11, 102, 152, 1) 100%); */
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    ;
    display: flex;
    /* border: 1px solid green; */
    min-width: 300px;
    padding: 10px;
    height: 125px;
    position: relative;
    justify-content: center;
}

.weather__icon {
    position: absolute;
    left: 6px;
    top: 8px;
    transform: translate(-50%, -50%);
}

.temp {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-right: 24px;
}

.date {
    margin-bottom: 10px;
}

input {
    color: #ffff;
    width: 107px;
    outline: 0;
    border: none;
    padding: 5px;
    /* border: none; */
    /* font-size: 10px; */
    /* width: 60px; */
    background-color: transparent;
    font-size: 20px;
}

.no-clear-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.no-clear-search::-moz-search-cancel-button {
    -moz-appearance: none;
}

.degr {
    font-size: 20px;
    position: absolute;
    bottom: 54px;
    left: 101px;
    transform: translate(-50%, -50%);
}

.no-clear-search::placeholder {
    color: #ffff
}

.search__city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather__btn {
    color: #ffff;
    width: 50px;
    margin-top: 3px;
    font-size: 15px;
    padding: 5px;
    background-color: green;
    outline: 0;
    border-radius: 28% 72% 62% 38% / 30% 31% 69% 70%;
    border: none;
}
